html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.MuiContainer-root {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.container-flex {
  display: flex;
  justify-content: space-between;
}
.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.globe-img {
  height: auto;
  width: 100%;
}
.hero-github {
  background: #050d21;
  color: #ffff;
  height: 100vh;
}
.landing-page p {
  color: #8193b2;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 1.5rem;
}
.email-form input {
  padding: 0.7rem;
  border-radius: 0.2rem;
  border: none;
  margin-right: 1rem;
}
.email-form button {
  background-color: #2ea650;
  padding: 0.7rem;
  border-radius: .3rem;
  cursor: pointer;
  border: none;
  color: #ffff;
  font-weight: bold;
}

/* MEDIA QUERIES  */
@media (min-width: 1280px) {
  .MuiContainer-maxWidthLg {
    max-width: 1280px;
  }
}
@media (min-width: 600px) {
  .MuiContainer-root {
    padding-left: 24px;
    padding-right: 24px;
  }
}
